{% extends "layout/_template.njk" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/access-code/_macro.njk" import onsAccessCode %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/address-output/_macro.njk" import onsAddressOutput %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% set pageConfig = { 
    "header": {
        "title": "Household Assets Survey",
        "signoutButton": {
        "text": "Save and sign out"}
        },
    "title": "Household Asset Survey",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% block preMain %}
    {{
        onsBreadcrumbs({
            "ariaLabel": 'Back',
            "itemsList": [
                {
                    "url": 'preferences-1',
                    "id": 'back',
                    "text": 'Back'
                }
            ]
        })
    }}
{% endblock %}
{% block main %}
<div class="ons-page__body">
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-8@m ">

        {%
            call onsQuestion({
                "title": "How would you prefer to be contacted in the future?",
                "description": 'We will only contact you if we have a question about the survey.',
                "legendIsQuestionTitle": true
            })
        %}

        {{
        onsCheckboxes({
            "id": "central-heating-answers",
            "dontWrap": true,
            "checkboxesLabel": "Select all that apply",
            "name": "mutually-exclusive",
            "checkboxes": [
                {
                    "id": "gas-example-mutually-exclusive-checkbox",
                    "label": {
                        "text": "Email"
                    },
                    "value": "Email",
                    "other": {
                        "id": "other-fuel-textbox-example-mutually-exclusive-checkbox",
                        "name": "other-fuel-answer",
                        "label": {
                        "text": "Email address"
                        }
                    }
                },
                {
                    "id": "electric-example-mutually-exclusive-checkbox",
                    "label": {
                        "text": "Phone"
                    },
                    "value": "electric",
                    "other": {
                        "id": "other-fuel-textbox-example-mutually-exclusive-checkbox",
                        "name": "other-fuel-answer",
                        "label": {
                        "text": "Telephone number"
                        }
                    }
                },
                {
                    "id": "solid-fuel-example-mutually-exclusive-checkbox",
                    "label": {
                        "text": "Text message"
                    },
                    "value": "other",
                    "other": {
                        "id": "other-fuel-textbox-example-mutually-exclusive-checkbox",
                        "name": "other-fuel-answer",
                        "label": {
                        "text": "Mobile number"
                        }
                    }
                },
                {
                    "id": "other-fuel-example-mutually-exclusive-checkbox",
                    "label": {
                        "text": "Text phone"
                    },
                    "value": "Text phone",
                    "other": {
                        "id": "other-fuel-textbox-example-mutually-exclusive-checkbox",
                        "name": "other-fuel-answer",
                        "label": {
                        "text": "Text phone number"
                        }
                    }
                }
                ],
            "mutuallyExclusive": {
                "or": "Or",
                "deselectMessage": "Selecting this will uncheck all other checkboxes",
                "deselectGroupAdjective": "deselected",
                "deselectExclusiveOptionAdjective": "deselected",
                "exclusiveOptions": [
                    {
                        "id": "no-central-heating-example-mutually-exclusive-checkbox",
                        "label": {
                            "text": "I don't want to be contacted"
                        },
                        "attributes": {
                            "data-attribute": "Example attribute"
                        },
                        "value": "no-central-heating"
                    }
                ]
            }
        })
    }}

        {% endcall %}
        {{
            onsButton({
                "text": "Save and continue",
                "iconType": "false",
                "url": "preferences-2"
            })
        }}
        </div>
    </div>
</div>
{% endblock %}
