{% extends "layout/_template.njk" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/access-code/_macro.njk" import onsAccessCode %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/address-output/_macro.njk" import onsAddressOutput %}
{% set pageConfig = { 
    "header": {
        "title": "Household Assets Survey"
        },
    "title": "Household Assets Survey",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% block main %}

  <div class="ons-grid">
    <div class="ons-grid__col ons-col-8@m ">
      <div class="ons-pl-col">
      
        <h1>Thank you for taking part in the Household Assets Survey (HAS).</h1>

          <p>HAS helps us understand how people in Great Britain manage their money — including savings, debts, and plans for retirement.</p>

      <div class="ons-panel ons-panel--info ons-panel--no-title">
        <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
        <div class="ons-panel__body">
          <h3>The new ONS survey app is now available</h3>
          
          <div style="width:3rem"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 54 54">
          <defs>
            <style>
              .cls-1 {
                        fill: #a9be3b;
                      }

                      .cls-2 {
                        fill: url(#linear-gradient);
                      }

                      .cls-3 {
                        fill: #003d58;
                      }
                    </style>
                    <linearGradient id="linear-gradient" x1="2.91" y1="2.91" x2="51.09" y2="51.09" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#e0ebf4"/>
                      <stop offset="1" stop-color="#b1d1e6"/>
                    </linearGradient>
                  </defs>
                  <rect class="cls-2" width="54" height="54" rx="9.92" ry="9.92"/>
                  <g>
                    <path class="cls-1" d="M9.38,30.61c.54-1.12,1.1-2.21,1.72-3.26-.71-1.71-1.28-3.47-1.71-5.27,0,2.94,0,6.07,0,8.53ZM12.71,9.04s-3.32,0-3.32,4.12v2.2c.28,3.71,1.09,7.36,2.41,10.85,1.86-2.97,4.15-5.65,6.81-7.94,5.38-4.62,12.63-7.81,22.47-9.22H12.71Z"/>
                    <path class="cls-3" d="M44.78,11.3c-11.25,1.07-18.93,4.29-24.44,9-2.9,2.52-5.35,5.52-7.22,8.88,4.32,8.39,12.55,14.55,26.27,15.45h1.34s4.22.14,4.22-4.55V11.26c-.06.02-.11.03-.17.04ZM15.86,35.18c-1.28-1.51-2.4-3.15-3.35-4.89-1.23,2.36-2.28,4.82-3.14,7.34v6.99h22.49c-7.01-1.67-12.27-5.05-16.01-9.44h0Z"/>
                  </g>
                </svg>
            </div>
            <p>Download from <a href="#">Google Play Store</a> on Android devices and from the <a href="#">App Store</a> on iOS devices.</p>
              </div>
            </div>
            <br>
          <h2>Why your participation matters</h2>
          <ul>
            <li>How households manage their finances</li>
            <li>The types of assets people hold (like savings or pensions)</li>
            <li>How people plan for their future</li>
          </ul>

          <h2>What to expect and how to take part</h2>
          <ul>
            <li>You’ll be asked questions about your household finances</li>
            <li>The survey can be carried out in different ways, for example: online, with an interviewer or a video call</li>
            <li>It takes place every two years — this helps track changes over time</li>
          </ul>
          <h2>Your privacy</h2>
          <p>All your answers are confidential and used only for research and statistics. Your information is protected by law.</p>
          {% from "components/button/_macro.njk" import onsButton %}
          {{
              onsButton({
                  "text": "Start survey",
                  "url": "/v1/access-code",
                  "noIcon": "true"
              })
          }}
          <br><br>
          <h2>Need to update your contact details?</h2>
          <p>If you move or your contact information changes, please email:</p>
          <p><a href="mailto:has.contacts@ons.gov.uk">has.contacts@ons.gov.uk</a></p>
          <p>Include:</p>
          <ul class="ons-list">
            <li>Your name</li>
            <li>Old and new address</li>
            <li>Contact telephone number</li>
            <li>Names and ages of anyone moving with you</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
{% endblock %}

