{% extends "layout/_template.njk" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/access-code/_macro.njk" import onsAccessCode %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/address-output/_macro.njk" import onsAddressOutput %}
{% from "components/input/_macro.njk" import onsInput %}

{% set pageConfig = { 
    "header": {
        "title": "Household Assets Survey",
        "signoutButton": {
        "text": "Save and sign out"}
        },
    "title": "Household Assets Survey",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% block preMain %}
    {{
        onsBreadcrumbs({
            "ariaLabel": 'Back',
            "itemsList": [
                {
                    "url": 'soc-1',
                    "id": 'back',
                    "text": 'Back'
                }
            ]
        })
    }}
{% endblock %}

{% block main %}
<div class="ons-grid">
    <div class="ons-grid__col ons-col-8@m ">
        <div class="ons-pl-col">
            <div class="ons-page__body">
            <h1>As a [Job title], what is the main activity you do?</h1>
            <p>In a few words describe your job, for example, a dog walker:<br>Exercising and caring for dogs</p>

        {% from "components/input/_macro.njk" import onsInput %}
            {{
                onsInput({
                    "id": "text-example-input-with-description",
                    "label": {
                        "text": "Main job activity"                    }
                })
            }}

        <br>
        {{
            onsDetails({
                "id": "details-example",
                "title": "Why your answer is important",
                "content": "<p>The ONS asks for your main job activity to understand what jobs people do. This helps plan training, support fair pay, and improve job opportunities. Your answer is private and only used to help improve services.</p>"
            })
        }}
        <br>
        {% from "components/button/_macro.njk" import onsButton %}
        {{
            onsButton({
                "text": "Save and continue",
                "url": 'soc-2b',
                "iconType": 'false'
            })
        }}
        </div>
        </div>
        </div>
        </div>
{% endblock %}