{% extends "layout/_template.njk" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/access-code/_macro.njk" import onsAccessCode %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/address-output/_macro.njk" import onsAddressOutput %}
{% set pageConfig = { 
    "header": {
        "title": "Household Assets Survey"
        },
    "title": "Household Assets Survey",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% block main %}

  <div class="ons-grid">
    <div class="ons-grid__col ons-col-8@m ">
      <div class="ons-pl-col">
      
        <h1>Survey optimisation prototyping </h1>
          <h2>Version 1</h2>
          <p>Date:09/07/2025 (End to end test)</p>
          {{
              onsButton({
                  "text": "Prototype (R1)",
                  "url": "v1",
                  "iconType": "false"
              })
          }}<br><br>
          <h3>Findings</h3>
          <ul>
            <li>Appetite for an app but requires clarificationon the advantages, prioritise survey start over app info</li>
            <li>Content updates across end to end eg clearer call to actions</li>
            <li>Radios to checkboxes on preferences to allow for multiple selection. Expand contact preferences to weekend/ weekday contact</li>
            <li>Remove wallets instances when zero balance rewards</li>
            <li>SOC updates, pause / options question</li>
            <li>Frustration developed using the job suggestion type ahead, people didn't notice they could add their own answer</li>
            <li>Using a webchat advisor should be done in conjunction with an indication of waiting progress eg queue number or time</li>
          </ul>
          <hr><br>
          <h2>Version 2</h2>
          <p>Date:17/07/2025 (SOC only)</p>
          {{
              onsButton({
                  "text": "Prototype (R2)",
                  "url": "v2",
                  "iconType": "false"
              })
          }}<br><br>
          <h3>Findings</h3>
          <ul>
            <li>SOC is an evolving taxonomy, edge case job classification is subjective</li>
            <li>Users understood we were using AI within the survey and were generally happy to interact with multiple rounds of questions to get to the right outcome</li>
            <li>SOC - Type and search tested better than predictive type ahead suggestions</li>
            <li>Closed options tested better than typing</li>
            <li>Select / both / all options would be useful to most respondents</li>
            <li>There is a tipping point where we should ask to continue with questioning to avoid frustration and dropout </li> 
            <li>We could add more questions in before the 'ask to continue' question</li>
            <li>Users tended to want to complete the task at the time rather than coming back later or waiting for an advisor but were happy with the option being present as a backup </li>
            <li>If skipping the question is an option we should be accompany with clarification of the impact 
            </li>
          </ul>
          <hr><br>
          <h3>Hypotheses</h3>
          <ul>
            <li>We know that people find different subjects sensitive. Allowing people to choose what they want to answer before they start and rewarding them incrementally (and weighted by low demographic response) will encourage completion rates and better data quality</li>
            <li>We know that respondents have different preferences, accessibility and situational needs that must be acknowledged and respected. We believe that a more personalised experience that records and better supports  respondents will enable them to participate,  foster trust,  & improve survey uptake and completion.</li>
            <li>We know that respondents require different types of channels to suit their needs. We believe that providing a wider range of flexible, digital survey methods at a time to suit the respondent would improve engagement and completion rates.</li>
            <li>We believe a survey structure that aligns to the users mental model will create a more intuitive flow and will reduce cognitive load, resulting in a reduction in drop-off rates</li>
            <li>If we allow respondents to select which (optional) sections they are comfortable completing, trust and commitment will increase, and respondents will be less likely to ring SEL or drop off when they read questions that they deem to be too 'personal' or 'sensitive'.</li>
            <li>We believe that by monitoring survey analytics in real time and proving 1-2-1 assistance when there is evidence that a user is struggling to complete a survey, will result in better data quality and reduce drop-off rates</li>
            <li>We know that users find the ONS surveys too long and drop out. We also know ONS are missing some key patterns from GOV. We believe that introducing a task list to chunk the survey into smaller manageable areas, will create a more transparent view of what is left to do and better support a respondent's mental model. This would result in higher completion rates.</li>
            <li>We believe that if respondents are shown how their lives or views compare to others in society, then they will be more likely to complete the survey, because this creates a sense of personal relevance, curiosity, and immediate reward for participating.</li>
            <li>Providing additional modes of completion could help with engagement, data quality and completion rates</li>
          </ul>
      </div>
    </div>
  </div>
{% endblock %}

