{% extends "layout/_template.njk" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/access-code/_macro.njk" import onsAccessCode %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/address-output/_macro.njk" import onsAddressOutput %}

{% set pageConfig = { 
    "header": {
        "title": "Household Asset Survey",
        "signoutButton": {
        "text": "Save and sign out"}
        },
    "title": "Household Asset Survey",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}
{% block preMain %}
        {{
            onsBreadcrumbs({
                "ariaLabel": 'Back',
                "itemsList": [
                    {
                        "url": 'task-list-1',
                        "id": 'back',
                        "text": 'Back'
                    }
                ]
            })
        }}
    {% endblock %}

{% block main %}
    <div class="ons-page__body">
        <div class="ons-grid">
            <div class="ons-grid__col ons-col-8@m ">
                <div class="ons-pl-col">
                    <h1 class="ons-u-fs-=xl">About you and your household</h1>

                    <p>
                        This section asks for about the relationships in your household, ethnicity, sexuality, religion, health and wellbeing.
                    </p>
                    {% from "components/details/_macro.njk" import onsDetails %}

                    {{
                        onsDetails({
                            "id": "details-example",
                            "title": "Why its important we ask these questions",
                            "content": "<p>The ONS collects data on relationships, ethnicity, sexuality, religion, and health to ensure public services are properly planned and funded. This information helps identify and address inequalities, support community needs, monitor population changes, and inform decisions on housing, healthcare, education, and equality policies. All data is kept confidential and used only for statistical purposes to improve services and ensure fair resource distribution.</p>"
                        })
                    }}
                    <br>
                    <p>You can skip any questions that you prefer not to answer.</p>

                    {% from "components/button/_macro.njk" import onsButton %}
                    <br>
                    <div class="ons-btn-group">
                        {{
                            onsButton({
                                "text": "Continue",
                                "iconType": "false",
                                "url": "ethnicity"
                            })
                        }}
                        {{
                            onsButton({
                                "type": 'button',
                                "text": 'Skip this section',
                                "url": "section-2",
                                "iconType": 'false',
                                "variants": 'secondary'
                            })
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

