{% extends "layouts/ons.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        ኣብ ዳህሳስ ንብረት ገዛ ተሳተፉ
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        ጡረታን ይርኣብ ዳህሳስ ንብረት ገዛ ተሳተፉ
ኢ። መልስታትካ ኣብ መላእ ዓዲ እንግሊዝ እንታይ ይፍጸም ከምዘሎ ንምርዳእ ይሕግዘና፣ ኣብ ከም ብተመጣጣኒ ዋጋ ዝሽየጥ ገዛውቲ ዝኣመሰሉ ነገራት ውሳኔታት ምሕባርን ሰባት ንጡረታኦም እንታይ ደገፍ ከምዘድልዮምን ይሕብሩ።</strong>.
      </p>
      <p>እዚ መጽናዕቲ ብዛዕባ ዝኾነ ሰብ ኣብቲ ገዛ ዝኾነ ሰብ ሕቶታት ክሓትት እዩ። ኩሉ ኣብ ገዛኻ ዘሎ ነፍሲ ወከፍኒ ነቲ እንሰደደካ ደብዳቤታትን ወረቓቕትን ክርኢ ኣገዳሲ እዩ።
      </p>
      <p>
        መልስታትካ ንመጻኢ ዓባይ ብሪጣንያ ንምቕራጽ ክሕግዝ እዩ።
      </p>
      <div class="govuk-inset-text">
        <p>
          እቲ እትህበና ሓበሬታ ብሕጊ ዝተሓለወ ኮይኑ ከም ምስጢራዊ እዩ ዝሕዞ።
        </p>
      </div>
      <h2 class="govuk-heading-l">
        ስለ ግዜኻ ከተመስግነካ
      </h2>
      <p>
        10 ፓውንድ ዝዋግኡ ኢ-ቮቸር ኣካቲትና ኣለና። 20 ፓውንድ ዝዋግኡ ቫውቸር እውን ናብ ነፍሲ ወከፍ ነቲ መጽናዕቲ ብኢንተርነት ዝውድእ ዓቢ ሰብ ክለኣኽ እዩ።
      </p>
      <p>
        እቲ ዳህሳስ ኣብ ክፍልታት ይምቀል። ኩሉ ብሓደ ምኻድ ክትውድኦ ትኽእል ኢኻ፣ ወይ ክትዕቅብን ክትምለስን ትኽእል ኢኻ። ክንደይ ግዜ ከም ዝወስድ ኣብ መልስኻ ይምርኮስ፡ ንመብዛሕትኦም ሰባት ግን ካብ 30-40 ደቓይቕ እዩ።
      </p>
      <br>
      <div class="govuk-button-group">
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "መፅናዕቲ መፅናዕቲ"
        }) }}
      </div>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <ul class="govuk-list">
        <li><a href="www.ons.gov.uk/surveys"><strong>www.ons.gov.uk/surveys</strong></a></li>
        <li>ፍሪፎን: <strong>0800 298 5313</strong></li>
        <li>ኣገልግሎት ሪለይ ኣገልግሎት፡ <strong>(181001) 0800 298 5315?</strong></li>
      </ul>
      <p>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">ኣብ 2019 እውን ይርከብ ።</h2>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li><a lang="ti" href class="govuk-link">ቲግሬይንያዊ</a></li>
        <li><a lang="bn" href class="govuk-link">বাংলা</a></li>
        <li><a lang="pt" href class="govuk-link">Português</a></li>
        <li><a lang="pl" href class="govuk-link">Polskim</a></li>
        <li><a lang="ro" href class="govuk-link">Română</a></li>
        <li><a lang="en" href class="govuk-link">English</a></li>
        <li><a lang="cy" href class="govuk-link">Cymraeg</a></li>
      </ul>
    </div>
  </div>

{% endblock %}





