{% extends "layout/_template.njk" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/access-code/_macro.njk" import onsAccessCode %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/address-output/_macro.njk" import onsAddressOutput %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% set pageConfig = { 
    "header": {
        "title": "Household Assets Survey",
        "signoutButton": {
        "text": "Save and sign out"}
        },
    "title": "Household Assets Survey",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% block preMain %}
    {{
        onsBreadcrumbs({
            "ariaLabel": 'Back',
            "itemsList": [
                {
                    "url": 'preferences-2',
                    "id": 'back',
                    "text": 'Back'
                }
            ]
        })
    }}
{% endblock %}
{% block main %}
<div class="ons-grid">
    <div class="ons-grid__col ons-col-8@m ">
        <div class="ons-pl-col">
    <h1 class="ons-u-fs-xl">You have added 1 person to your household</h1>
    {% from "components/summary/_macro.njk" import onsSummary %}

    {{
    onsSummary({
        "summaries": [
            {
                "groups": [
                    {
                        "id": "turnover",
                        "title": "",
                        "rows": [
                            {
                                "id": "sales-dates-row",
                                "title": "[Respondent #1 name]",
                                "itemsList": [
                                    {
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer",
                                                "url": "summary-1"
                                            },
                                            {
                                                "text": " Remove",
                                                "visuallyHiddenText": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}
<br>
<h2>Do you need to add another householder?</h2>
<p>All householders over 16 years old, or 18 if in full time education should be added. You can invite them to participate directly or answer the survey for them.</p>
    {{
        onsRadios({
            "name": "property-type",
            "dontWrap": true,
            "radios": [
                {
                    "id": "house",
                    "label": {
                        "text": "Yes"
                    },
                    "value": "house"
                },
                {
                    "id": "flat",
                    "label": {
                        "text": "No"
                    },
                    "value": "flat"
                }
            ]
        })
    }}
<br>
<div class="ons-grid">
    <div class="ons-grid__col ons-col-8@m ">
      <div class="ons-pl-col">

    {% from "components/button/_macro.njk" import onsButton %}

            <div class="ons-btn-group">
                {{
                    onsButton({
                        "text": 'Continue',
                        "url": 'config1',
                        "iconType": 'false'
                    })
                }}
        </div>
    </div>
</div>
        
{% endblock %}