{% extends "layout/_template.njk" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/access-code/_macro.njk" import onsAccessCode %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/address-output/_macro.njk" import onsAddressOutput %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% set pageConfig = { 
    "header": {
        "title": "Household Assets Survey",
        "signoutButton": {
        "text": "Save and sign out"}
        },
    "title": "Household Assets Survey",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% block preMain %}
    {{
        onsBreadcrumbs({
            "ariaLabel": 'Back',
            "itemsList": [
                {
                    "url": 'summary',
                    "id": 'back',
                    "text": 'Back'
                }
            ]
        })
    }}
{% endblock %}
{% block main %}
<h1 class="ons-u-fs-xl">Check answers for [Respondent #1 name]</h1>
{% from "components/summary/_macro.njk" import onsSummary %}

{{
    onsSummary({
        "summaries": [
            {
                "groups": [
                    {
                        "id": "turnover",
                        "title": "",
                        "rows": [
                            {
                                "id": "sales-dates-row",
                                "title": "What is your address?",
                                "itemsList": [
                                    {
                                        "id": "sales-dates",
                                        "valueList": [
                                            {
                                                "text": "27 Redfern Close<br>Birmingham<br>B15 2NX"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "id": "sales-dates-row",
                                "title": "What is your name?",
                                "itemsList": [
                                    {
                                        "id": "sales-dates",
                                        "valueList": [
                                            {
                                                "text": "[Respondent #1 name]"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "How would you like to complete your survey?",
                                "id": "sales-value-row",
                                "itemsList": [
                                    {
                                        "id": "sales-value",
                                        "valueList": [
                                            {
                                                "text": "[survey mode]"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "id": "sales-detail-row",
                                "title": "How would you prefer to be contacted?",
                                "itemsList": [
                                    {
                                        "id": "sales-detail",
                                        "valueList": [
                                            {
                                                "text": "[contact method]"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "id": "sales-detail-row",
                                "title": "When would you prefer to be contacted?",
                                "itemsList": [
                                    {
                                        "id": "sales-detail",
                                        "valueList": [
                                            {
                                                "text": "[time of day]"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "id": "sales-detail-row",
                                "title": "Creating your survey, sections included",
                                "itemsList": [
                                    {
                                        "id": "sales-detail",
                                        "valueList": [
                                            {
                                                "text": "
                                                <ul>
                                                    <li>About you and your household</li>
                                                    <li>Work and employment</li>
                                                    <li>Your home and household bills</li>
                                                    <li>Bank savings</li>
                                                    <li>Investments</li>
                                                    <li>Pensions</li>
                                                    <li>Foreign assets</li>
                                                    <li>Inheritance</li>
                                                    <li>Debt and bankrupcy</li>
                                                </ul>
                                                "
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}

{% extends "layout/_template.njk" %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/input/_macro.njk" import onsInput %}
{%
    set pageConfig = {
        "header": {
            "title": "Question example"
        },
        "breadcrumbs": {
            "ariaLabel": 'Breadcrumbs',
            "itemsList": [
                {
                    "url": '#0',
                    "text": 'Previous'
                }
            ]
        }
    }
%}
<br>
<div class="ons-grid">
    <div class="ons-grid__col ons-col-8@m ">
      <div class="ons-pl-col">


    {% from "components/button/_macro.njk" import onsButton %}

            <div class="ons-btn-group">
                {{
                    onsButton({
                        "text": 'Create my survey',
                        "url": 'task-list-1',
                        "iconType": 'false'
                    })
                }}
            </div>
</div>
</div>
</div>


                
{% endblock %}
